.wp-features{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 4rem;
    background-color: getColor('Bg2');
    padding: 8rem 1.5rem;
}
.card-features{
    @include flex(center,center,1.5rem,column);
    padding:0 1.5rem;
    &__img{
        max-width: 90px;
    }
    &__title{
        @include font(1.5rem,700,'white1',center);
    };
    &__description{
        @include font(1.2rem,400,'gray1',center);
    }
}